*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: hidden;
}
.WeatherAppContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; 
}


.WeatherCard {
  max-width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #fff; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.searchBar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-btn {
  padding: 10px 15px;
  background-color: #3498db; /* Blue button color */
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.weatherLoader {
  margin-bottom: 15px;
}

.errorRefreshPage {
  color: #e74c3c; 
  margin-bottom: 15px;
}


div > div:not(.searchBar):not(.errorRefreshPage):not(.weatherLoader) {
  margin-bottom: 10px;
}

img {
  max-width: 50px;
}


